.profile__job {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

@media screen and (max-width: 900px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    max-width: 240px;
  }
}

@media screen and (max-width: 605px) {
  .profile__job {
    text-align: center;
    width: 282px;
    margin-top: 7px;
  }
}