.footer {
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 900px) {
  .footer {
    width: calc(282px*2 + 17px);
  }
}

@media screen and (max-width: 605px) {
  .footer {
    width: 282px;
  }
}

/*Конечно же я видел, что в фигме подвал сайта шириной 318, 
однако в этом случае съедет выравние по левому краю всех блоков страницы.
Собственно, я специально для простоты сделал одинаковыми все элементы по ширине,
чтобы на всех экранах без исключения все блоки были одинаково выравнены*/