.element__delete-urn {
  background-image: url("../../../images/delete-btn.svg");
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 15px;
  right: 17px;
  width: 18px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  display: none;
}

.element__delete-urn:hover {
  transition: opacity .2s linear;
  cursor: pointer;
  opacity: .6;
}